*{
  padding: 0px;
  margin: 0px;
}


header{
  display: flex;
  justify-content: center;
}

#navbarDropdown{
  color: #333;

.caja{
  background-color:#FFE6A7;
}

#center{
  justify-content: center;
}
h3.color{
  background-color:#5BBAAE;
}
}
