*{
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  
}

header{
  display: flex;
  justify-content: center;
}

#navbarDropdown{
  color: #333;
}


.carousel-item{
  height: 32em;
  color: #fff;
  background-color: #333;
  position: relative;

}

.container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 5.625em;
}
.overlay-image{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}


#estilo{
background-color: #CDD1A4;
}


#estiloS{
  list-style-type: none;
}

a:link{
  color: black;
}