*{
  padding: 0px;
  margin: 0px;
}


header{
  display: flex;
  justify-content: center;
}

#navbarDropdown{
  color: #333;
  
}

.caja{
  background-color:#FFE6A7;
}

#center{
  justify-content: center;
}
h3.color{
  background-color:#5BBAAE;
}

.caja{
  background-color:#FFE6A7;
  justify-content: center;
  margin: 10px;

}
#color1{
  background-color:#9AC7A9;
  justify-content: center;
  margin:10px;
  padding-left:27px;
}
.imgRedonda {
  width:250px;
  height:250px;
  border-radius:150px;
  justify-content: center;
}

.carousel-item{
  height: 32em;
  color: #fff;
  background-color: #333;
  position: relative;

}

.container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 5.625em;
}
.overlay-image{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
